{% extends 'base.html' %}
  {% block head %}
    {{ super() }}
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}<title>Register</title> {% endblock title %}

  {% endblock head %}

{% block body %}
{{ super() }}
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-55 p-b-50">
                    <form class="login100-form validate-form" autocomplete="on" action="{{url_for('auth.register')}}" method="POST">
                        <span class="login100-form-title p-b-33">
                            Register Here
                        </span>

                      {{ form.hidden_tag() }}
                        <div class="wrap-input100 validate-input">
                          {{ form.fname.label(class="form-control-label") }}
                          {{ form.fname(class="form-control form-control-lg") }}
                          <span class="focus-input100-1"></span>
                          <span class="focus-input100-2"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                          {{ form.lname.label(class="form-control-label") }}
                          {{ form.lname(class="form-control form-control-lg") }}
                          <span class="focus-input100-1"></span>
                          <span class="focus-input100-2"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                          {{ form.email.label(class="form-control-label") }}
                          {{ form.email(class="form-control form-control-lg") }}
                          <span class="focus-input100-1"></span>
                          <span class="focus-input100-2"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                          {{ form.username.label(class="form-control-label") }}
                          {{ form.username(class="form-control form-control-lg") }}
                          <span class="focus-input100-1"></span>
                          <span class="focus-input100-2"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                          {{ form.password.label(class="form-control-label") }}
                          {{ form.password(class="form-control form-control-lg") }}
                          <span class="focus-input100-1"></span>
                          <span class="focus-input100-2"></span>
                        </div>
                        <div class="container-login100-form-btn m-t-20">
                            {{ form.submit(class="login100-form-btn") }}
                        </div>

                       <div class="text-center p-t-45 p-b-4">
                        <span class="txt1">
                           Already have an account?
                        </span>
                        <a href="{{url_for('auth.login')}}" class="txt2 hov1">
                            Log In Here
                        </a>
                       </div>
                </form>
                </div>
            </div>
        </div>
{% endblock %}
