{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    {% block title %}<title>Reset Password</title> {% endblock title %}

{% endblock head %}

{% block body %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-55 p-b-50">
            
            <form class="login100-form validate-form" autocomplete="on" action="{{url_for('auth.reset_password')}}" method="POST">

                <span class="login100-form-title p-b-33">
                    Reset Password
                </span>
    
                {{form.hidden_tag()}}

                <div class="wrap-input100 validate-input">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    {{ form.old_password.label(class="form-control-label") }}
                    {{ form.old_password(class="form-control form-control-lg") }}
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    {{ form.new_password.label(class="form-control-label") }}
                    {{ form.new_password(class="form-control form-control-lg") }}
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                
                <div class="container-login100-form-btn m-t-20">
                {{ form.submit(class="login100-form-btn") }}
                </div>
            </form>            

        </div>
    </div>
</div>
{% endblock %}
