{% extends 'base.html' %}
{% block head %}
{{ super() }}
	<meta charset="utf-8">
	{% block title %}<title>Update Incident</title>{% endblock title %}
{% endblock head %}

{% block body %}
{{ super() }}

<div class="limiter">
    <div class="container-login100">

    <div style="position:fixed; top:50px; left:50px;">
        <a href="{{url_for('auth.logout')}}">
            <button class="login100-form-btn" action="{{url_for('auth.logout')}}">
                Log Out
            </button>
        </a>
    </div>

    <div style="position:fixed; top:50px;;">
        <a href="{{url_for('home.dashboard')}}">
            <button class="login100-form-btn" action="{{url_for('home.dashboard')}}">
                Back to Dashboard
            </button>
        </a>
    </div>

        <div class="wrap-login100 p-l-55 p-r-55 p-t-55 p-b-50">
            <form class="login100-form validate-form" action="{{url_for('forms.update_incident', ticketID = incident.incidentID)}}" method="POST">
                <span class="login100-form-title p-b-33">
                    Update Incident {{incident.title}}
                </span>
               <div class="wrap-input100 validate-input"> 
                <input class="input100" type="text" name="desc" placeholder="Message">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
               </div>

               <div class="wrap-input100 validate-input">
                <input class="input100" list="statuses" name="state" placeholder="Status">
                    <datalist id="statuses">
                    {% for s in statuses %}
                    <option value="{{s}}"></option>
                    {% endfor %}
                    </datalist> 
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
               </div>

               <div class="container-login100-form-btn m-t-20">
            	<button class="login100-form-btn">
                    Update
                </button>
               </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}

